# 디폴트 무시된 파일
/shelf/
/workspace.xml

# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# 빌드 파일 및 IDE 관련 파일
target/
*.iml
.idea/
*.log

# 추가로 무시할 파일들
*.bin
*.lock