# 디폴트 무시된 파일
/.idea/shelf/
/workspace.xml
.env


# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# 빌드 파일 및 IDE 관련 파일
target/
*.iml
.idea/
*.log

# 추가로 무시할 파일들
*.bin
*.lock

# Gradle 관련 파일들 무시
.gradle/
build/

# 프로젝트 관련 파일들 무시
application.yml
application-dev.yml
application-prod.yml
application-test.yml

